<%= render 'layouts/error', obj: @item %>
<h1>商品編集</h1>

<body class="form-container">
    <%= form_with model: @item, url: admin_item_path  do |f| %>
     <table>
        <tr>
          <th>商品画像</th>
          <td class="form"><%= f.file_field :image,  accept: "image/*" %></td>
        </tr>
        <tr>
          <th>商品名</th>
          <td class="form"><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td class="form"><%= f.text_area :detail %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td class="form"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), {include_blank: '---'} %></td>
        </tr>
        <tr>
          <th>税抜価格</th>
          <td class="form"><%= f.text_field :unit_price %>円</td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <td class="form">
           <%= f.label :is_selling, '販売中' %>
           <%= f.radio_button :is_selling, :true %>
           <%= f.label :is_selling, '売り切れ' %>
           <%= f.radio_button :is_selling, :false, checked: true %>
          </td>
        </tr>
      </table>
      
      <div class="form">
        <%= f.submit '変更を保存する' %>
      </div>
    <% end %>
</body>


