<h1>商品新規登録</h1>
<%= render 'layouts/error', obj: @item %>
<body class="form-container">
  <%= form_with model: @item, url: admin_items_path  do |f| %>
   <table>
      <tr>
        <th class="head">商品画像</th>
        <td class="data">
          <%= f.label :image ,"画像を選択" , class: "button"%>
          <%= f.file_field :image, accept: "image*", class: "image-form" %>
          </td>
      </tr>
      <tr>
        <th class="head">商品名</th>
        <td class="data"><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th class="head">商品説明</th>
        <td class="data"><%= f.text_area :detail %></td>
      </tr>
      <tr>
        <th class="head">ジャンル</th>
        <td class="data"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), {include_blank: '---'} %></td>
      </tr>
      <tr>
        <th class="head">税抜価格</th>
        <td class="data"><%= f.text_field :unit_price %>円</td>
      </tr>
      <tr>
        <th class="head">販売ステータス</th>
        <td class="data">
            <%= f.radio_button :is_selling, :true %>
            <%= f.label :is_selling, '販売中' %>
            <%= f.radio_button :is_selling, :false, checked: true %>
            <%= f.label :is_selling, '売り切れ' %>
        </td>
      </tr>
    </table>
    <div>
      <%= f.submit'新規登録', class:"button" %>
    </div>
  <% end %>
</body>