<h1>商品詳細</h1>

<%# if @item.image.attached? %>
  <%#= image_tag @item.image, size: "100x200" %>
<%# else %>
  <%#= image_tag 'no_image', size: "100x200" %>
<%# end %>

<table>
  <tr>
    <th>商品名</th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th>商品説明</th>
    <td><%= @item.detail %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= @item.genre_id %></td>
  </tr>
  <tr>
    <th>税込価格</th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th>販売ステータス</th>
    <td><%= @item.is_selling %></td>
  </tr>
</table>
<p> <%= f.submit'編集する', class: "btn btn-success" %></p>