  <div>
    <%= flash[:notice] %>
  </div>

  <h1>商品詳細</h1>
  <div class="">
    <% if @item.image.attached? %>
      <%= image_tag @item.get_item_image(300,400)  %>
    <% else %>
      <%= image_tag 'no_image'  %>
    <% end %>
  </div>

<table>
   <tr>
     <th class="head">商品名</th>
     <td class="data"><%= @item.name %></td>
   </tr>
   <tr>
     <th class="head">商品説明</th>
     <td class="data"><%= @item.detail %></td>
    </tr>
    <tr>
     <th class="head">ジャンル</th>
     <td class="data"><%= @item.genre.name %></td>
    </tr>
    <tr>
     <th class="head">税込価格(税抜き価格）</th>
     <td class="data"><%= @item.with_tax_price %>円(<%= @item.unit_price %>円)</td>
    </tr>
    <tr>
      <th class="head">販売ステータス</th>
      <td class="data"><% if @item.is_selling == true %>
             販売中
          <% end %>
          <% if @item.is_selling == false %>
             売り切れ
          <% end %>
      </td>
    </tr>
  </table>
  <%= link_to edit_admin_item_path(@item), class: "button" do %>
    <div>編集する</div>
  <% end %>
  <%= link_to admin_item_path(@item), method: :delete, data: { confirm: '削除しますか？' }, class: "button" do %>
    <div>削除する</div>
  <% end %>
