<div>
  <div>
    <div>
      <div>
        <div class="my-element">
          <h2>ようこそ、ながのCAKEへ！</h2>
          <p>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="new-item-list">
    <h2 class="title-new">新着商品</h2>
    <div class="background">
      <div class="new-items">
        <% @items.each do |item| %>
          <div>
            <div class="new-item">
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_item_image(150, 100) %>
              <% end %>
              <div><%= item.name %></div>
              <div><%= item.with_tax_price %>円</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "全ての商品を見る >", items_path, class: "button" %>
  </div>
</div>