
<div>
    <h1>会員一覧</h1>
</div>

<table>
    <thead>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </thead>
    
    <tbody>
      <% @customers.each do |customer|%>
        <tr>
          <td><%= customer.id%></td>
          <td><%= customer.full_name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.is_deleted ? '退会済み' : '有効' %></td>
          <td>
            <%= link_to admin_customer_path(customer) do %>
              詳細表示
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
</table>

<div>
  <%= paginate @customers %>
</div>