<h1>注文履歴詳細</h1>
 <%= form_with model: @order, url: admin_order_path, method: :patch  do |f| %>
<table>
    <tr>
      <th>購入者</th>
      <td>
        <%= link_to admin_customer_path(@order.customer_id) do %>
          <%= @order.full_name %>
        <% end %>
        </td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d') %>
    </tr>
    <tr>
      <th>配送先</th>
      <td>〒<%= @order.postcode %><br>
          <%= @order.address %><br>
          <%= @order.full_name %>
      </td>
     </tr>
     <tr>
       <th>支払い方法</th>
       <td><%= @order.payment_i18n %></td>
     </tr>
     <tr>
       <th>注文ステータス</th>
       <td><%= f.select :status, Order.statuses.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]},class: "form-control"%></td>
       <td><%= f.submit '更新'  %></td>
     </tr>
     <% end %>
  </table>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.with_tax_price %></td>
      <td><%= order_detail.piece %></td>
      <td><%= order_detail.subtotal %></td>
      <td>
       <%= form_with model: order_detail, url: admin_order_detail_path(order_detail)  do |f| %>
       <%= f.select :status, OrderDetail.statuses.keys.map{|k| [I18n.t("enums.order_detail.status.#{k}"), k]},class: "form-control"%>
          <%= f.submit "更新"  %>
          <% end %>
      </td>
      <% @price += order_detail.subtotal %>
    </tr>
    <% end %>
  </tbody>
</table>

<p>商品合計<%= @price %>円</p>
<p>送料<%= @order.delivery_cost %>円</p>
<p>請求金額合計<%= @order.total_price%>円</p>

