  <div>
    <%= flash[:notice] %>
  </div>

<%= render 'layouts/error', obj: @genre %>

  <h1>ジャンル一覧・追加</h1>
  
  <div class="form-container">
    <div class="form">
      <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <table >
        <tr>
          <th>ジャンル名</th>
          <td class="field"><%= f.text_field :name, autocomplete: "genre_name" %></td>
          <td><%= f.submit'新規登録', class="button" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
    
    <h2>ジャンル</h2>
    <table class="table">
     <% @genres.each do |genre| %>
       <tr>
         <th class="head"><%= genre.name %></th>
         <td>
            <%= link_to edit_admin_genre_path(genre) do %>
            <button>編集する</button>
            <% end %>
         </td>
         <td>
            <%= link_to admin_genre_path(genre), method: :delete, data: { confirm: '削除する？' } do %>
            <button>削除する</button>
            <% end %>
          </td>
       </tr>
     <% end %>
    </table>
  
<div>
  <%= paginate @genres %>
</div>
