<h1>ジャンル一覧・追加</h1>
 <%= form_with model: @genre, url: admin_genres_path do |f| %>
<table>
  <tr>
    <th>ジャンル名</th>
      <td><%= f.text_field :name, autocomplete: "genre_name" %></td>
      <td><%= f.submit'新規登録', class: "btn btn-success" %></td>
  </tr>
</table>
 <% end %>



<table>
 <th>ジャンル</th>
     <% @genres.each do |genre| %>
     <tr>
       <td><%= genre.name %></td>
       <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
       <td><%= link_to "削除する", admin_genre_path(genre), method: :delete, data: { confirm: '削除する？' }, class: "btn btn-sm btn-danger"%></td>
     </tr>
     <% end %>
</table>


