  <main>
    <%= flash[:notice] %>
    
    <h1>配送先編集</h1>
      <%= form_with model: @address do |f| %>
        <table>
          <tr>
            <th class="head"><%= f.label :"郵便番号（ハイフンなし）" %></td>
            <td><%= f.text_field :postcode, size:30, placeholder: "0000000" %></td>
          </tr>
          <tr>
            <th class="head"><%= f.label :"住所" %></td>
            <td><%= f.text_field :address, size:30, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
          </tr>
          <tr>
            <th class="head"><%= f.label :"宛名" %></td>
            <td><%= f.text_field :full_name, size:30, placeholder: "令和道子" %></td>
          </tr>
        </table>
        <div><%= f.submit "変更内容を保存",class: "button" %></div>
      <% end %>
  </main>