  <main>

    <%= flash[:notice] %>

    <div class="container">
      <h1>カート</h1>
      <%= link_to root_path do %>
        <button class="button">買い物を続ける</button>
      <% end %>
    </div>

    
    <% if @customer.cart_items.exists? %>
      <div>
        <table>
          <tr>
            <thead>
              <th class="head">商品名</th>
              <th class="head">単価(税込)</th>
              <th class="head">数量</th>
              <th class="head" colspan="2">小計</th>
            </thead>
          </tr>

          <tr>
            <% @customer.cart_items.each do |cart_item|%>
            <tbody>
              <td class="data"><%= cart_item.item.name %></td>
              <td class="data"><%= cart_item.item.with_tax_price %>円</td>
              <td class="data">
                <%= form_with model: cart_item do|f| %>
                  <%= f.hidden_field :id, :value =>cart_item.id %>
                  <%= f.select :piece, *[0..10] %>
                  <%= f.submit '更新' , url: cart_item_path(cart_item), class:"button", method: :patch %>
                <% end %>
              </td>
              <td class="data"><%= cart_item.subtotal %>円</td>
              <% @price += cart_item.subtotal %>
              <td>
                <%= link_to cart_item_path(cart_item), method: :delete do%>
                  <button class="button">削除する</button>
                <% end %>
              </td>
            </tbody>
            <% end %>
          </tr>
        </table>

        <table>
          <tr>
            <th class="head">合計金額</th>
            <td class="body"><%= @price %>円</td>
          </tr>
        </table>
      </div>
      <div class="container">
        <%= link_to new_order_path do %>
          <button class="button">情報入力に進む</button>
        <% end %>

        <%= link_to cart_items_destroy_all_path(@customer), method: :delete do %>
          <button class="button">カートを空にする</button>
        <% end %>
      </div>
        
      <% else %>
        <h2>カートに商品がありません</h2>
      <% end %>
    </div>
  </main>
