<h1>注文履歴詳細#show</h1>

<h5>注文情報</h5>
<table>
  <tr>
    <th>注文日</th>
    <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>配送先</th>
    <td><%= @order.address_display %></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_i18n%></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @order.order_status_i18n %></td>
  </tr>
</table>

<h5>注文内容</h5>
<table>
  <tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
  <% @order.order_details.each do |order_details| %>
  <tr>
    <td><%= order_details.item.item_name %></td>
    <td><%= order_details.item_price.to_s(:delimited) %></td>
    <td><%= order_details.count %></td>
    <td><%= order_detail.total_price.to_s(:delimited) %></td>
  </tr>
  <% end %>
</table>


<h5>請求情報</h5>
<table>
  <tr>
    <th>商品合計</th>
    <td><%= total.to_s(:delimited) %></td>
  </tr>
  <tr>
    <th>発送料</th>
    <td><%= @order.delivery_cost = 800 %></td>
  </tr>
  <tr>
    <th>ご請求額</th>
    <td><%= order.total_price.to_s(:delimited) %></td>
  </tr>
</table>


