<div class="index-container">
  <h1 class="index">商品一覧</h1>
  <div class="container">
    <% @items.each do |item| %>
      <div class="block">
        <td class="item">
          <%= link_to item_path(item) do %>
            <div class="">
            <% if item.image.attached? %>
              <%= image_tag item.get_item_image(150,200), class:"image" %>
            <% else %>
              <%= image_tag 'no_image', class:"image"%>
            <% end %>
            </div>
          <% end %>
        </td>
        <td class="name"><%= item.name %></td>
        <td class="price">¥<%= item.unit_price %></td>
      </div>
    <% end %>
  </div>
  <%= paginate @items %>
</div>