<h1>商品一覧</h1>
<table>
   <% @items.each do |item| %>
  <tr>
    <td>
      <%= link_to item_path(item) do %>
        <% if item.image.attached? %>
          <%= image_tag item.get_item_image(300,400)  %>
        <% else %>
          <%= image_tag 'no_image'  %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= item.name %></td>
  </tr>
  <tr>
    <td>¥<%= item.unit_price %></td>
  </tr>
  <tr>
    <td><%= item.is_selling ? '販売中' : '売り切れ' %></td>
    <td>
      <% if item.is_selling == true %>
        <p>販売中</p>
      <% elsif item.is_selling == false %>
        <p>売り切れ</p>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>