<h1><%= @item.name %></h1>
<% if @item.image.attached? %>
  <%= image_tag @item.get_item_image(300,400)  %>
<% else %>
  <%= image_tag 'no_image'  %>
<% end %>
<p><%= @item.detail %></p>
<p>¥<%= @item.with_tax_price %>(税込)</p>


